/*Body*/
body{
  animation: bgcolor infinite 15s;
}

/*Title of the program*/
h1{
color:rgb(206, 206, 206);
font-size:60px;
text-align: center;
font-family: Impact;
}

/*The part that shows the
randomly generated links*/
h4{
color:rgb(255, 255, 255);
text-align: center;   
font-family: Arial Black;
font-size:17px;
}

/*Instructions*/
h2{
font-size:30px;
text-align: center;
font-family:Impact;
color:rgb(211, 211, 211);
}

/*Labels for the randomly
generated links*/
h3{
text-align: center;
font-family:Arial Black;
color:rgb(107, 107, 107);
font-size: 20px;
}

/*Credits*/
h6{
text-align: center;
color:rgba(255, 255, 255, 0.548);
}

/*I dont even remember what this is for*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } 

/*Burner account title*/
  h5{
    color:rgb(206, 206, 206);
    font-size:50px;
    text-align: center;
    font-family: Impact;
 }

/*Background settings*/
@keyframes bgcolor{
0%
{background:#222222;}
5%
{background:#2c2c2c;}
10%
{background:#353535;}
15%
{background:#1b1b1b;}
20%
{background:#222222;}
25%
{background:#2c2c2c;}
30%
{background:#353535;}
35%
{background:#1b1b1b;}
40%
{background:#222222;}
45%
{background:#2c2c2c;}
50%
{background:#353535;}
55%
{background:#1b1b1b;}
60%
{background:#222222;}
65%
{background:#2c2c2c;}
70%
{background:#353535;}
75%
{background:#1b1b1b;}
80%
{background:#222222;}
85%
{background:#2c2c2c;}
90%
{background:#353535;}
95%
{background:#1b1b1b;}
100%
{background:#222222;}
}
